
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif; 
  background-color: #b4b3b3; 
  color: #ffffff;
  line-height: 1.6;
}

.container {
  width: 80%; 
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  background-color: 
  
  #707070;
  color: rgb(255, 255, 255);
  padding: 20px 0;
  text-align: center;
}

.profile-photo {
  display: inline-block;
  width: 190px; 
  height: 190px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 5px solid rgba(90, 65, 65, 0.89); 
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 2rem; 
  margin-bottom: 10px;
}

.job-title {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 10px;
}

.contact-info p {
  margin: 5px 0;
  font-size: 0.9rem;
}


.about, .experience, .education, .skills, .reflection {
  background-color: rgb(80, 76, 76);
  padding: 20px;
  margin: 20px 0;
  border: 10px solid #666666d0; 
}

.about h2, .experience h2, .education h2, .skills h2, .reflection h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-decoration: underline; 
  color: #f8f8f8;
}

.about p, .reflection p {
  font-size: 1rem;
}


.job h3 {
  font-size: 1.2rem;
  color: #000000; 
  margin-bottom: 10px;
}

.job ul {
  list-style: disc; 
  margin-left: 20px;
}

.job li {
  margin-bottom: 5px;
}

.job a {
  color: #007BFF;
  text-decoration: none;
}

.job a:hover {
  text-decoration: underline;
}


.school h3 {
  font-size: 1.2rem;
  color: #007BFF;
}


.skills ul {
  list-style: none; 
}

.skills li {
  font-size: 1rem;
  padding: 5px 0;
}


.footer {
  background-color: #050505;
  color: rgb(212, 206, 206);
  padding: 10px 0;
  text-align: center;
  margin-top: 20px;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}

a {
  color: #474141; 
  text-decoration: none; 
}

a:hover {
  color: #e0cccc; 
}

a:active {
  color: #e9dbdb; 
}

a:visited {
  color: #ff0000; 
}

