* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #b4b3b3;
  color: #ffffff;
  line-height: 1.6;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #707070;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.profile-photo {
  width: 190px;
  height: 190px;
  margin: 0 auto 20px auto;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid rgba(90, 65, 65, 0.89);
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 2rem;
  margin-bottom: 10px;
}

.job-title {
  font-size: 1rem;
  margin-bottom: 10px;
}

.contact-info p {
  margin: 5px 0;
  font-size: 0.9rem;
}

section {
  background-color: #504c4c;
  padding: 20px;
  margin: 20px 0;
  border: 10px solid #666666d0;
}

section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-decoration: underline;
  color: #313131;
}

section p {
  font-size: 1rem;
}

.job h3 {
  font-size: 1.2rem;
  color: #2e2323;
  margin-bottom: 10px;
}

.job ul {
  list-style: disc;
  margin-left: 20px;
}

.job li {
  margin-bottom: 5px;
}

.experience a {
  color: #580000;
  text-decoration: none;
}

.experience a:hover {
  color: #490101;
  text-decoration: underline;
}

.experience a:active {
  color: #420000;
}

.experience a:visited {
  color: #520000;
}

.school h3 a {
  color: #ff0909;
  text-decoration: none;
}

.school h3 a:hover {
  color: #ffa55b;
  text-decoration: underline;
}

.skills ul {
  list-style: none;
}

.skills li {
  font-size: 1rem;
  padding: 5px 0;
}

.footer {
  background-color: #050505;
  color: #d4cece;
  padding: 10px 0;
  text-align: center;
  margin-top: 20px;
}

