* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #38857e;
  color: #ffffff;
  line-height: 1.6;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #07534d;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.profile-photo {
  width: 190px;
  height: 190px;
  margin: 0 auto 20px auto;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid rgba(1, 44, 41, 0.89);
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 2rem;
  margin-bottom: 10px;
}

.job-title {
  font-size: 1rem;
  margin-bottom: 10px;
}

.contact-info p {
  margin: 5px 0;
  font-size: 0.9rem;
}

section {
  background-color: #09756c;
  padding: 20px;
  margin: 20px 0;
  border: 10px solid #4e9692d0;
}

section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-decoration: underline;
  color: #313131;
}

section p {
  font-size: 1rem;
}

.job h3 {
  font-size: 1.2rem;
  color: #2e2323;
  margin-bottom: 10px;
}

.job ul {
  list-style: disc;
  margin-left: 20px;
}

.job li {
  margin-bottom: 5px;
}

.experience a {
  color: #580000;
  text-decoration: none;
}

.experience a:hover {
  color: #490101;
  text-decoration: underline;
}

.school h3 a {
  color: #ff0909;
  text-decoration: none;
}

.school h3 a:hover {
  color: #ffa55b;
  text-decoration: underline;
}

.skills ul {
  list-style: none;
}

.skills li {
  font-size: 1rem;
  padding: 5px 0;
}

.footer {
  background-color: #277481ad;
  color: #d4cece;
  padding: 10px 0;
  text-align: center;
  margin-top: 20px;
}

.about-flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.about-photo {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  border: 5px solid rgba(1, 44, 41, 0.89);
}

.about-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-text {
  flex: 1;
}

.experience-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.experience-content {
  flex: 1;
}

.about-photos {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.photo-box {
  text-align: center;
}

.photo-box img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #333;
}

.photo-box p {
  margin-top: 5px;
  font-weight: bold;
  color: #fff;
}

